.form{
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 40vh;
    align-items: center;
    justify-content: space-around;
    padding: 15px 5px;
    border-radius: 5px;
}

.form-label{
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

.form-text{
    width: 90%;
    min-height: 13vh;
    padding: 5px;
    margin: 10px 0px;
    resize: vertical;
}

button {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    margin: 0px 5px;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

@media screen and (max-width: 480px) {
    .form{
        width: 90%;
    }
}